html{
  height: 100%;
}
body{
  background: url(../img/41E.webp) repeat-x bottom left #256bcc;
  height: 100%;
}

.categorias {
  background-color:#ffffff;
}

.tmg {
  font-size: 40px;
}
.btn-mio{
    border-radius: 0;
    border:solid 2px;
}
.titulo-seccion{
  font-family: 'Press Start 2P', cursive;
}

.altura{
  height: 100%;
}

div{
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.cancelarp{
    padding: 0px;
}

.cuadro-blanco{
  height: 400px;
  width: 400px;
  background-color:#ffffff;
  
}

#tgi{
  font-size: 30px;
}

#pi{
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}